body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#0000007a 38%,#3c9940a8 ),url("photo.jpg");
  background-position: top;
  background-size: cover;
  
  
}
* {
  padding: 0px;
  margin: 0px;
}
p{
  color: #ffffff;
}
#root{
  width: 70%;
  
}

.contaner {
  background-color: #444;
  height: fit-content;
}
.numbers {
  width: 100%;
  button {
    font-size: 50px;
    background-color: orange;
    padding: 4px 12px;
    border-radius: 10px;
    margin: 8px;
    cursor: pointer;
  }
  display: flex;
  justify-content: space-around;
}
button{
  box-shadow: 0px 0px 13px 0px #f4b21e;
  border: none;
  
}
button:hover{
  box-shadow: 0px 0px 13px 0px white;

}
.opp {
  width: 100%;
  display: flex;
  justify-content: space-around;
  button {
    font-size: 50px;
    background-color: rgb(255, 255, 255);
    padding: 4px 12px;
    border-radius: 10px;
    margin: 8px;
    cursor: pointer;
  }
  .ac {
    font-size: 25px;
  }
}

/****************/
.show {
  background-color: beige;
  font-size: 30px;
  .number {
    padding: 10px;
  overflow: auto;
    
  }
  .result {
    direction: rtl;
    padding: 10px;
    overflow: auto;
  }
}
